div.container {
  background-color: lightyellow;
}

mat-grid-list {
  margin: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  width: 100%;
  height: 100%;

  h2 {
    margin: 0;
    background-color: lightyellow;
    padding-left: 0.5em;
    width: 80%;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}

form.film-form {
  padding: 1em;
}

.film-name-search {
  width: 100%;
}
