<form class="film-form">
  <mat-form-field class="film-name-search">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</form>

<table>
  @for (filmsRow of filmsTable(); track filmsRow) {
    <tr>
      @for (film of filmsRow; track film) {
        <td>
          <div class="card">
            <h2>{{film.name}} | {{(film.omdbInfo | async)?.imdbRating}}</h2>
            <a [href]="'https://www.youtube.com/results?search_query=' + film.name + '+trailer'" target="_blank">
              <span>Trailer</span>
            </a>
            <a [href]="'https://v2.vidsrc.me/embed/' + (film.omdbInfo | async)?.imdbID" target="_blank">
              <img [src]="(film.omdbInfo | async)?.Poster" alt="poster" [width]="300" [height]="435">
            </a>
          </div>
        </td>
      }
    </tr>
  }
</table>
